{% extends "base.html" %}

{% block main %}

	<!-- <div class="card w-50">
	  <div class="card-body">
	    <h5 class="card-title">Heart Disease</h5>
	    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    <a href="/train" class="btn btn-primary">Train Model</a>
	    <a href="/heart_disease" class="btn btn-primary">Predict</a>
	  </div>
	</div>
 -->
<!-- </div> -->
<div class="container">

<div class="jumbotron">
  <h1 class="display-4">Diabetes Pridiction</h1>
  <p class="lead">.</p>
  <hr class="my-4">
  <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
  <p class="lead ">
	    <a href="/diabities/train" class="btn btn-primary ">Train Model</a>
	    <a href="/diabities/predict" class="btn btn-primary">Predict</a>  </p>
</div>
</div>
<div class="container">

{% endblock %}
